* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #008383; /* Cor de fundo semelhante ao Windows XP */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-wrap:wrap;
}

window {
  display: flex;
  flex-direction: column;
  min-width: 600px;
  width: auto;
  background-color: #c0c0c0; /* Cor do corpo da página cinza estilo Windows XP */
  border: 1px solid black;
  box-shadow: 5px 5px 0 black;
  padding: 10px;
  overflow: hidden;
  min-height: 150px;
  margin:10px;
}

title-bar {
  display: block;
  background-color: #00027d; /* Cor de fundo da barra de título azul escuro estilo Windows XP */
  padding: 5px;
  margin-bottom: 10px;
  width: 100%;
  color: white;
  font-weight: bold;
  border-bottom: 1px solid black;
}

h1 {
  color: #ffffff; /* Texto branco na barra de título */
}

p {
  color: black; /* Texto preto no conteúdo */
}
